extends template.pug
block order_app
    script window.products = JSON.parse(`#{products}`.replace(/&quot;/g,'"'));
    script(src='/assets/order.js')
        
    h1= page

    a(href='/order/add', class="btn btn-success") add
    br
    br
    table(class = "table table-striped table-bordered", id = 'order_table')
        thead
            tr
                th Product
                th Count
                th Date
        tbody
