extends template.pug
block order_app
    script window.categories = JSON.parse(`#{categories}`.replace(/&quot;/g,'"'));
    script(src='/assets/product.js')
        
    h1= page

    a(href='/add', class = "btn btn-success") add
    
    br
    br
    table(id = 'products_table', class = "table table-striped table-bordered")
        thead
            tr
                th Category
                th Product
                th Price
                th Description
                th Action
        tbody
