doctype html
html(lang='en')
    head
        title Order App
        link(rel='stylesheet', href='/assets/index.css')
    body
        h6
        | This web application was created to fulfill
        | Web Technology module&rsquo;s requirements and does not represent an actual company or service
        br
        a(href='/') products 
        a(href='/order') orders  
        hr
        
        block order_app